<h1>Listing comments</h1>

  <body>
    <% @comments.each do |comment| %>
      
        <%= comment.user_name %>
        <%= comment.body %>
        <%= comment.idea_id %>
        <%= link_to 'Show', comment %>
        <%= link_to 'Edit', edit_comment_path(comment) %>
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <% end %>
  </body>

<br>

<%= link_to 'New Comment', new_comment_path %> |
<%= link_to 'Back', ideas_path %>
